.panel-bottom-right {
	width: 340px;
	position:fixed;
	bottom:0px;
	right: 15px;
	background: #FFF;
	border-radius:4px;
	z-index:5000;
	display:block;
}

.no_margin {
	margin:0px;
}

.no_display {
	display: none;
}

#panel-head {
	cursor:pointer;
}

#discussion {
	overflow-y: auto;
	height : 400px;
}