body {
  font-size: 14px;
}
#landing-content {
  padding-top: 51px;
  min-height: 800px;
}
.navbar-toggle .icon-bar {
  background: #777;
}
#main-slider .carousel-inner .item {
  overflow: hidden;
  opacity: 0;
  height: 500px;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
@media (max-width: 480px) {
  #main-slider .carousel-inner .item {
    height: 200px;
  }
  #main-slider .carousel-inner .item h2 {
    font-size: 17px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #main-slider .carousel-inner .item {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #main-slider .carousel-inner .item {
    height: 400px;
  }
}
#main-slider .carousel-inner .item .slide-caption {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
}
#main-slider .carousel-inner .item.active {
  opacity: 1;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
#main-slider .carousel-inner .item.left.active {
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
#main-slider .carousel-inner .item.left.next {
  opacity: 1;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
#main-slider .carousel-inner .item.right.active {
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
#main-slider .carousel-inner .item.right.prev {
  opacity: 1;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}
#main-slider .carousel-inner .item .img-background {
  position: absolute;
  left: 0;
  width: 100%;
}
#main-slider .carousel-control {
  background-image: none;
  z-index: 2;
}
#main-slider .carousel-control span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}
.feature-icon {
  width: 80px;
  height: 80px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.feature-icon [class*="fa-"] {
  line-height: 80px;
}
.feature-icon:hover {
  background: #0D63AC ;
  color: #fff;
  text-shadow: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.input-lg::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 17px;
}
.input-lg:-moz-placeholder {
  font-size: 17px;
  line-height: 17px;
}
.input-lg::-moz-placeholder {
  font-size: 17px;
  line-height: 17px;
}
.input-lg:-ms-input-placeholder {
  font-size: 17px;
  line-height: 17px;
}
#newsletter {
  width: 300px;
}
@media (max-width: 767px) {
  #newsletter {
    width: 100%;
  }
}
.recent-work a {
  position: relative;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #626262;
}
.recent-work a img {
  width: 100%;
}
.recent-work a:hover {
  text-decoration: none;
}
.recent-work a:hover img {
  opacity: 0.5;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.recent-work .detail {
  margin-bottom: 30px;
}
.hoverBorder:hover .hoverBorderWrapper .hoverBorderInner {
  box-shadow: 0 0 0 3px #0D63AC  inset;
  -moz-box-shadow: 0 0 0 3px #0D63AC  inset;
  -webkit-box-shadow: 0 0 0 3px #0D63AC  inset;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.hoverBorder:hover .hoverBorderWrapper .readMore {
  left: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.hoverBorder .hoverBorderWrapper {
  position: relative;
  display: inline-block;
}
.hoverBorder .hoverBorderWrapper .hoverBorderInner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.hoverBorder .hoverBorderWrapper .readMore {
  position: absolute;
  bottom: 10px;
  left: -20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #0D63AC ;
  color: #fff;
  padding: 3px 12px;
  font-size: 11px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
footer {
  margin-left: 0;
  background: #504f63;
  color: #d5d4dd;
}
footer p {
  display: block;
}
footer .useful-link li a {
  color: #d5d4dd;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
footer .useful-link li a:hover {
  color: #fff;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.social-connect {
  background: #d5d4dd;
  border-color: #d5d4dd;
  color: #777;
}
.social-connect:hover {
  border-color: transparent;
}
.animated-element {
  opacity: 1;
}
.animated-element.no-animation {
  visibility: hidden;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
}
.font-lg {
  font-size: 17px !important;
}
.content-padding {
  padding: 40px;
}
@media (max-width: 480px) {
  .content-padding {
    padding: 10px;
  }
}
.m-top-lg {
  margin-top: 100px;
}
@media (max-width: 480px) {
  .m-top-lg {
    margin-top: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .m-top-lg {
    margin-top: 50px;
  }
}
.m-bottom-lg {
  margin-bottom: 100px;
}
@media (max-width: 480px) {
  .m-bottom-lg {
    margin-bottom: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .m-bottom-lg {
    margin-bottom: 50px;
  }
}
.m-top-md {
  margin-top: 50px;
}
.m-left-md {
  margin-left: 50px;
}
.m-right-md {
  margin-right: 50px;
}
