﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/HTML/Ticket.Master" CodeBehind="RedirectAccess.aspx.vb" Inherits="ICC.RedirectAccess" %>

<asp:Content ID="Content1" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
  <center>
    <iframe width="800" height="600" style="border:none;" id="frameRedirect" runat="server"></iframe>
  </center>
</asp:Content>
