/* Remote Video*/
.fp-remoteVideo {
	position: absolute;
	background: #c0c0c0;
	width: 280px;
	height: 200px;
	text-align: center;
}

/* Local Video*/
.fp-localVideo {
	cursor: all-scroll;
	background-color: black;
	position: absolute;
	width: 80px;
	height: 60px
}

.display-video {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.display-video > video, object {
	width: 100%;
	height: 100%;
}
